<section>
    <h1><%- messages() %></h1>
    <h1><%- title %></h1>

    <form id="vehicleForm" action="/account/update" method="POST">
        <h2>Account Update</h2>
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" name="account_firstname" required value="<%- account_firstname  %>">
        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" name="account_lastname" required value="<%- account_lastname %>">
        <label for="email">Email:</label>
        <input type="email" id="email" name="account_email" required value="<%- account_email %>">
        <input type="hidden" name="account_id" <% if(account_id) { %> value="<%- account_id %>"
            <% } %>>
                <button type="submit">Update</button>

    </form>
    <br>

    <form id="vehicleForm" action="/account/change-password" method="POST">
        <h2>Change Password</h2>
        <label for="currentPassword">Current Password:</label>
        <input type="password" id="currentPassword" name="current_pwd" required>
        <label for="newPassword">New Password:</label>
        <input type="password" id="newPassword" name="new_pwd" required>
        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" id="confirmPassword" name="confirm_pwd" required>
        <input type="hidden" name="account_id" <% if(account_id) { %> value="<%- account_id %>"
            <% } %>>
                <button type="submit">Change Password</button>
    </form>

</section>